/*Верхнє меню для десктопу*/


html {
  background-color: #f4f5ff;
}

body {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  
}

/*.menu {*/
/*  background: linear-gradient( to bottom, #1b02fc, #49edfc);*/
/*  height: 70px;}*/
.navbar-fixed-top {
  max-width: 1366px;
  margin: 0 auto;
}
.list {
  font-size: 17px;
  font-family:  'Bubbler One', sans-serif;
}
.navbar-brand {
  font-size: 20px;
  font-family: 'Black Ops One', cursive;
}
/*.header {*/
/*  display: inline-block;*/
/*  padding: 13px;*/
/*  font-size: 25px;*/
/*  font-family: 'Bubbler One', sans-serif;*/
/*  position: relative;*/
/*  top: 8px;*/
/*  bottom: 10px;*/
/*}*/
/*.burger {*/
/*  display: none;*/
/*}*/

.list a:hover {
  cursor: pointer;
  background: linear-gradient(to left,  #3c56fc, #352644);
}

/*.navbar .nav {*/
/*  background: linear-gradient(to left, #0731c6, #358fff);*/
/*}*/




/* Заголовок Sokil */

.firstlogo .slide {
  width: 100%;
}

#home {
  width: 100%;
  height: 200px;
  background-image: url(../images/teamphoto3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  margin-top: 50px;
  /*color: white;*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

.sokil {
  border: 0px solid silver;
  padding: 2px;
  background: linear-gradient(to right, #000970, #000000);
  color: white;
  opacity: 0.9;
  border-radius: 10px;
  font-family: 'Black Ops One', cursive;
}

.under {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  background: linear-gradient( to bottom, #0c181c, #0cc4fc);
  height: 70px;
  margin-top: -5px;
  align-items: center;
  margin-bottom: -0.55%;
  font-weight: bold;
}

.achiv {
  width: 50%;
 height: 50%;
 

}

.achivv {
   width: 50%;
 height: 50%;
}

.achivvv {
   width: 50%;
 height: 50%;

}

#achieve {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  padding-left: 15px;
  font-weight: bold;
  
}

.hr {
  border: none;
  background-color: #294777;
  color: #294777;
  height: 4px;
}

.article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
}

#logo {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  padding-left: 15px;
  font-weight: bold;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.first-logo {
  float: left;
  border: none;
  width: 50%;
}

.first-uniform {
  float: right;
  border: none;
  width: 50%;
}

.logos {
  text-align: left;
  text-align: justify;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  padding-left: 15px;
  max-width: 47%;
}

.logo a {
  text-decoration: none;
  padding-left: 22%;
  font-family: 'Gafata', serif;
  color: #294777;
  font-size: 20px;
  border-radius: 2px;
}

.logo a:hover {
  color: red;
}

.behance {
  width: 80px;
  height: 80px;
}

#statistics {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  padding-left: 15px;
  font-weight: bold;
}
.mapp {
  width: 500px;
  height: 350px;
}
.leagues {
  background: linear-gradient( to bottom, #0c181c, #0cc4fc);
  height: 70px;
}

.hleagues {
  font-size: 25px;
  font-family: 'Bubbler One', sans-serif;
}

.leagues li {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 26%;
  padding-top: 17px;
}

.leagues .hleagues a {
  text-decoration: none;
  font-family: 'Gafata', serif;
  color: white;
  font-size: 35px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leagues .hleagues a:hover {
  background: linear-gradient( to top, #0c181c, #0cc4fc)
}

.all {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.stats {
  width: 48%;
  height: 100%;
}

.statss {
  width: 48%;
  height: 100%;
}

#videoreplays {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  padding-left: 15px;
  font-weight: bold;
}

.hrr {
  margin-top: 2%;
  border: none;
  background-color: #294777;
  color: #294777;
  height: 4px;
}

.no-border {
  padding-left: 10px;
  border: none;
}

.hrrr {
  margin-top: 3%;
  border: none;
  background-color: #294777;
  color: #294777;
  height: 4px;
  position: relative;
}

#links {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  padding-left: 15px;
  font-weight: bold;
}

.here {
  flex-wrap: wrap;
  font-family: 'Almendra', serif;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-size: 30px;
}

.forlinks {
  width: 80px;
  height: 80px;
}

#contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  font-weight: bold;
  
}

#location {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  font-weight: bold;
 
}
/*#contacts .contact {*/


/*position: relative;*/


/*}*/



.forms {
 
  font-family: 'Julius Sans One', sans-serif;
  font-size: 22px;
  /*display: flex;*/
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  
}



.forms .legend {
  font-size: 25px;
  font-family: 'Cinzel', serif;
  border-color: black;
  border-width: thin;
}

textarea {
  width: 80%;
  resize: vertical;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  border-color: black;
  border-width: thin;
}

#yourname {
  width: 80%;
  border-color: black;
  border-width: thin;
}

#client-email {
  width: 80%;
  border-color: black;
  border-width: thin;
}

.submit {
  background-color: #3ace00;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.reset {
  background-color: #d62e00;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/*.forms .map {*/
/*  border-width: 2px;*/
/*  margin-right: 10px;*/
/*  flex-basis: auto;*/
  /*display: flex;*/
  /*justify-content: flex-end;*/
/*}*/

.hr3 {
  margin-top: 10%;
  border: none;
  background-color: #294777;
  color: #294777;
  height: 4px;
  position: relative;
}

.video {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  
}

.cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.together {
  display: flex;
  justify-content: space-between;
  
}

.text {
  font-size: 30px;
  text-align: center;
  width: 30%;
  
}
.map {
  margin-right: 5%;
}
.contact {
  margin-left: 5%;
}
.question {
  margin-left: 5%;
}
#contactright {
  margin-right: 5%;
}
#myCarousel {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
  margin-bottom: 10px;
}
#myCarousel2 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
  margin-bottom: 10px;
}
#myCarousel3 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
  margin-bottom: 10px;
}
.heading {
  font-size: 30px;
}
  /*#myNavbar{*/
  /*  position: absolute;*/
  /*  background:#262630;*/
  /*}*/
  .heres {
     flex-wrap: wrap;
  font-family: 'Almendra', serif;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 25%;
  width:50%;
  font-size: 30px;
  }
@media screen and (max-width:1000px) {
  .thanks {
    width: 100%;
    display: flex;
    justify-content:center;
  }
  #contacts {
    width: 90%;
    margin-left: 5%;
  }
  .text {
  font-size: 10px;
  text-align: center;
  width: 80%;
  
}
.question {
  width: 100%;
  margin: 0;
}
#yourname {
  width: 100%;
}
#client-email {
  width: 100%;
}
#yourtext {
  width: 100%;
}
.submit {
  margin-left: 35%;
}
.text1 {
  font-size: 17px;
}
  .heading {
  font-size: 25px;
}
  .question{
    margin-left: 0;
  }
  .contact {
    margin-left: 0;
  }
  .together {
  display: flex;
  flex-wrap : wrap;
  flex-direction: column;

}
.text {
  font-size: 20px;
  text-align: center;
  width: 30%;
  
}
  
  .header {
    font-size: 15px;
  }
  .menu {
    height: 50px;
  }
  #home {
    font-size: 60px;
  }
  .under {
    font-size: 25px;
  }
  #location {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  flex-direction: column;
}
#contactright {
  display: flex;
  justify-content: center;
}
#contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  margin-right: 0;
}
.forms {
  display: flex;
  justify-content: center;
}
.map {
  display: flex;
  justify-content:center;
  margin-right: 0;
}
.mapp {
  display: flex;
  justify-content: center;
}
}
@media screen and (max-width:870px) {
  
  .heading {
  font-size: 20px;
}
  .video {
    display: flex;
    justify-content:center;
  }
  .no-border {
    margin-top: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
     width: 80%;
  }
 
  
}
@media screen and (max-width:1304px) {
 .video {
   display: flex;
   flex-direction: column;
   justify-content:center;
   width: 100%;
 }
 .no-border {
   margin-top: 20px;
   width: 50%;
   
 }
  
}
@media screen and (max-width:768px) {
  .no-border {
   margin-top: 20px;
   width: 70%;
   
 }
  .submit {
  margin-left: 0;
}
    #myCarousel {
  width: 100%;
 height: 100%;

}

#myCarousel2 {
   width: 100%;
 height: 100%;
}

#myCarousel3 {
   width: 100%;
 height: 100%;

}
.text {
  font-size: 10px;
  text-align: center;
  width: 80%;
  
}

.text1 {
  font-size: 17px;
}
  .hleagues {
    display: none;
  }
  .heading {
  font-size: 22px;
}
  
  .no-border {
    
    margin-top: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .text {
  font-size: 15px;
  text-align: center;
  
}
  #home {
    font-size: 50px;
  }
  .header {
    display: none;
  }
  .burger {
  
    display: block;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    width: 5%;
    height: 6%;
  }
   .first-uniform {
    width: 100%;
  }
  .logos {
    padding-top: 24%;
    font-size: 17px;
    text-align: justify;
    max-width: 80%;
    margin-left: 10%;

  }
  .first-logo {
    display: none;
  }
  .logos {
    font-size: 15px;
  }
  .behance {
    margin-left: 25%;
  }
  .statss {
    display: none;
  }
  .stats {
    width: 95%;
    height: 100%;
  }
  #dsas {
    display: none;
  }
  #achieve {
    font-size: 30px;
    text-align: center;
  }
  #logo {
    font-size: 30px;
    text-align: center;
  }
  #statistics {
    font-size: 30px;
    text-align: center;
  }
  #videoreplays {
    font-size: 30px;
  text-align: center;
  }
  #links {
    font-size: 30px;
  text-align: center;
  }
  #contacts{
    font-size: 30px;
  text-align: center;
  }
  /*.mapp {*/
  /*  width: 100%;*/
  /*  height: 80%;*/
  /*margin-left: 5%;*/
  /*}*/
}


@media screen and (max-width:490px) {
 

 
  #home {
    font-size: 35px;
    background-image: none;
    background:linear-gradient( to left, #0d009e, #000000);
    height: 150px;
  }

  .under {
    height: 40px;
    font-size: 15px;
    
  }
  
.together {
  display: flex;
  flex-wrap : wrap;
  justify-content:center;
}
.logos {
    
    font-size: 17px;
    text-align: justify;
    max-width: 90%;
    padding-left: 0;
    margin-left: 5%;
  }
.behance {
  margin-left: 17%;
  height: 60px;
  width: 60px;
}
 
  
  .no-border {
    width: 93%;
    height: 70%;
    margin-top: 20px;
    margin-left: 0;
    display: flex;
    justify-content:center;
  }
  .forlinks {
  width: 90px;
  height: 90px;
  
}
  .forms .legend {
    font-size:20px;
  }
  .forms {
    margin-left: 15px;
    width: 90%;
    
  }
  .submit {
    background-color: #3ace00;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 17px;
  cursor: pointer;
  font-size: 20px;
  }
  .reset {
    background-color: #d62e00;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  }
  .mapp {
    width: 100%;
    height: 50%;
  }
   #achieve {
    font-size: 20px;
    text-align: center;
  }
  #logo {
    font-size: 20px;
    text-align: center;
  }
  #statistics {
    font-size: 20px;
    text-align: center;
  }
  #videoreplays {
    font-size: 20px;
  text-align: center;
  }
  #links {
    font-size: 20px;
  text-align: center;
  }
  #contacts{
    font-size: 20px;
  text-align: center;
  }
  #location {
    font-size: 20px;
    text-align: center;
  }
  #myCarousel {
  width: 100%;
 height: 100%;

}

#myCarousel2 {
   width: 100%;
 height: 100%;
}

#myCarousel3 {
   width: 100%;
 height: 100%;

}
.text {
  font-size: 10px;
  text-align: center;
  width: 80%;
  
}
.question {
  width: 100%;
  margin: 0;
}
#yourname {
  width: 90%;
}
#client-email {
  width: 90%;
}
#yourtext {
  width: 90%;
}
.text1 {
  font-size: 17px;
}
.heres {
     flex-wrap: wrap;
  font-family: 'Almendra', serif;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 15%;
  width:70%;
  font-size: 30px;
  }
}