/*Верхнє меню для десктопу*/

html {
  
  background-color: #f4f5ff;
}

body {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.menu {
  
  background:linear-gradient( to bottom, #1b02fc, #49edfc);
  height: 70px;
  
}

.header {
  display: inline-block;
  padding: 13px;
  font-size: 25px;
  font-family: 'Bubbler One', sans-serif;
  position: relative;
  top: 8px;
  bottom: 10px;

  
  
}

.menu .header a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  
}

.menu .header a:hover {
  cursor: pointer;
  background: linear-gradient(to left, #0731c6, #358fff);
}

.menu li {
  float: right;
  margin-left: 5px;
}


/* Заголовок Sokil */

.firstlogo .slide {
  width: 100%;
  
}

#home {
 width: 100%;
  height: 200px;
  background-image: url(../images/teamphoto3.jpg);
  background-position: center center;
  padding-top:-40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  /*color: white;*/
   /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  
 
}
 .sokil {
    border: 0px solid silver;
    padding: 2px;
    background: linear-gradient(to right, #000970, #000000);
    color: white;
    opacity: 0.9;
    border-radius: 10px;
    font-family: 'Black Ops One', cursive;
    
  }
  


.under {

  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  background: linear-gradient( to bottom, #0c181c, #0cc4fc);
  height: 70px;
  margin-top: -5px;
  align-items: center;
  margin-bottom: -0.55%;
  
}

.achiv {
  width: 45%;
  margin-left: 30px;
}

.achivv {
  width: 46%;
  margin-left: 45px;
}

.achivvv {
  width: 46%;
  margin-left: 45px;
}

#achieve {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  padding-left: 15px;
}

.hr {
  border: none;
  background-color: #294777;
  color: #294777;
  height: 4px;
}

.article {
  text-align: left;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
}

#logo {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  padding-left: 15px;
}

.first-logo {
  float: left;
  border: none;
  width: 50%;
}

.first-uniform {
  float: right;
  border: none;
  width: 50%;
}

.logos {
  text-align: left;
  /*text-align: justify;*/
  font-family: 'Cinzel', serif;
  font-size: 20px;
  padding-left: 15px;
  max-width: 40%;
}

.logo a {
  text-decoration: none;
  padding-left: 22%;
  font-family: 'Gafata', serif;
  color: #294777;
  font-size: 20px;
  border-radius: 2px;
}

.logo a:hover {
  color: red;
}

.behance {
  width: 80px;
  height: 80px;
  max-width: 10%;
  max-height: 10%;
}

#statistics {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  padding-left: 15px;
 
}

.leagues {
   background: linear-gradient( to bottom, #0c181c, #0cc4fc);
  height: 70px;
  margin-top: -2%;

}

.hleagues {
 
  
  font-size: 25px;
  font-family: 'Bubbler One', sans-serif;
 
}

.leagues li {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 26%;
  padding-top: 17px;
 
}

.leagues .hleagues a {
  text-decoration: none;
  font-family: 'Gafata', serif;
  color: white;
  font-size: 35px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leagues .hleagues a:hover {
   background: linear-gradient( to top, #0c181c, #0cc4fc)
}
.all {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.stats {
  width: 48%;
  
}

.statss {
  width: 48%;
  
}

#videoreplays {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  padding-left: 15px;
}

.hrr {
  margin-top: 2%;
  border: none;
  background-color: #294777;
  color: #294777;
  height: 4px;
}

.no-border {
  padding-left: 10px;
  border: none;
}

.hrrr {
  margin-top: 3%;
  border: none;
  background-color: #294777;
  color: #294777;
  height: 4px;
  position: relative;
}

#links {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  padding-left: 15px;
}

.here {
 flex-wrap:wrap;
  font-family: 'Almendra', serif;
  display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.forlinks {
  width: 80px;
  height: 80px;
 
}

#contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  padding-left: 15px;
}

/*#contacts .contact {*/

  /*position: relative;*/
/*}*/

#contacts .contactright {
  margin-right: 15px;
  /*position: relative;*/
}

.forms {
  margin-top: 0;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 22px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width:100%;
  flex-wrap:wrap;
}
.forms .question {
  /*display: flex;*/
  /*justify-content: flex-start;*/
  /*width: 47%;*/
}
.forms .legend {
  font-size: 25px;
  font-family: 'Cinzel', serif;
}

textarea {
  width: 80%;
  resize: vertical;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

#yourname {
  width: 80%;
}

#client-email {
  width: 80%;
}

.submit {
  background-color: #3ace00;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.reset {
  background-color: #d62e00;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.forms .map {
  border-width: 2px;
  margin-right: 10px;
  width: 45%;
  /*display: flex;*/
  /*justify-content: flex-end;*/
  
 
  
}
.hr3 {
  margin-top: 10%;
  border: none;
  background-color: #294777;
  color: #294777;
  height: 4px;
  position: relative;
}

.video {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}
.cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width:800px){
  .one {flex-wrap:wrap;}
  .contact{ order:1;}
  .contactright{order:3;}
  .question {order:2;}
  .map {order:4;}
  

  .first-logo {display: none;
  }
  .logos {
    font-size: 15px;
  }
  .statss {display:none;}
  .stats {width: 95%;}
  #dsas {display:none;}
  
}


@media screen and (max-width:500px){
  .first-logo {display: none;}
  .logos {
    font-size: 10px;
  }
}